@import "../partials/typography";

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-left: 8px;

        &__thumbnail {

            img {
                height: 48px;
            }
        }
    }

    &__menu {
        margin-right: 8px;
        
        &__items {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 24px;

            &__list {
                position: relative;

                &__name {
                    text-decoration: none;
                }
            }
        }
    }
}

.menu__item__dropdown {
    display: none;
}

.nav__menu__items__list__name:hover .menu__item__dropdown {
    display: block;
}